<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/_header.ejs %>
</head>
<body>

  <ul>
    <p>This is the index file.</p>

    <form action="/urls/new" method="GET" >
        <button type="submit"> New</button>
  </form>

    <% for (var key in urls) { %>

      <li>ShortURL: <%= key %> : <a href =http://<%= urls[key].url %> ><%= urls[key].url %></a>
        <form method="POST" action="/urls/<%= key %>/Delete">
          <button type="submit">Delete</button>
        </form>
        <form method="POST" action="/urls/<%= key %>/Edit">
          <button type="submit">Edit</button>
        </form>
      </li>
    <% }; %>
  </ul>

</body>
</html>