<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/_header.ejs %>
</head>
<body>

  <ul>
    <p>This is the index file.</p>

    <% for (var key in urls) { %>

      <li>ShortURL: <%= key %> : <a href=urls[keys]><%= urls[key] %></a>
        <form method="POST" action="/urls/<%= key %>/Delete">
          <button type="submit">Delete</button>

        <form method="POST" action="/urls/<%= key %>/Edit">
          <button type="submit">Edit</button>
        </form>
      </li>
    <% }; %>
  </ul>

</body>
</html>