<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/_header.ejs %>
</head>
<body>

  <ul>
    <p>This is the index file.</p>

    <% for (var key in urls) { %>

<li>ShortURL: <%= key %> : <%= urls[key] %>
            <form method="POST" action="/urls/<%= key %>/Delete">

          <input type="submit" value="Delete">
        </form>
        <form method="POST" action="/urls/<%= key %>/Edit">
            <input type="submit" value="Edit"></form>
          </li>
    <% }; %>
  </ul>

</body>
</html>